* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

.navbar {
  position: absolute;
  margin: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(98, 110, 110);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .toggle-btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff;
}

.action_btn:active {
  transform: scale(0.95);
}

.container {
  display: flex; 
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.img {
  background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center/cover;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
}

.form-box {
  width: 50%;
  height: 100%;
  background: white;
  /* clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.form-content {
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.form-content h2 {
  margin-bottom: 20px;
}

.form-content input,
.form-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content button {
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-content button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .img,
  .form-box {
    width: 100%;
    height: 50vh;
    clip-path: none; 
  }
}
